<ion-header>
  <ion-navbar>
    <ion-title>
      Abc
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
	  <ion-item> <!-- (click)="save(translation[1])" -->
	    <ion-label stacked>Input numbers delimited by comma:</ion-label>
	    <ion-input (input)="set(0, $event)" value="{{translation[0]}}"></ion-input>
	    <button item-right (click)="save(translation[0])">save</button>
	  </ion-item>

	  <ion-item> <!-- (click)="save(translation[1])" -->
	    <ion-label stacked>abc</ion-label>
	  	<ion-input (input)="set(1, $event)" value="{{translation[1]}}"></ion-input>
	  	<button item-right (click)="save(translation[1])">save</button>
	  </ion-item>

	  <ion-item> <!-- (click)="save(translation[2])" -->
	    <ion-label stacked>reverse abc</ion-label>
	  	<ion-input (input)="set(2, $event)" value="{{translation[2]}}"></ion-input>
	  	<button item-right (click)="save(translation[2])">save</button>
	  </ion-item>

	  <ion-item> <!-- (click)="save(translation[3])" -->
	    <ion-label stacked>0 indexed abc</ion-label>
	  	<ion-input (input)="set(3, $event)" value="{{translation[3]}}"></ion-input>
	  	<button item-right (click)="save(translation[3])">save</button>
	  </ion-item>

	  <ion-item> <!-- (click)="save(translation[4])" -->
	    <ion-label stacked>0 indexed abc reversed</ion-label>
	  	<ion-input (input)="set(4, $event)" value="{{translation[4]}}"></ion-input>
	  	<button item-right (click)="save(translation[4])">save</button>
	  </ion-item>
  </ion-list>
   <ion-list *ngIf="saved && saved.length">
    <ion-list-header>Saved items</ion-list-header>
    <button ion-item *ngFor="let item of saved">
      {{ item }}
    </button>
    <button ion-item (click)="clear()">
      <ion-icon name="trash"></ion-icon>
      Clear
    </button>
  </ion-list>
</ion-content>
