<ion-header>
  <ion-navbar>
    <ion-title>Binary</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item>
      <ion-label stacked>binary:</ion-label>
      <ion-textarea #console class="console" type="text" value="{{binary}}" (input)="set($event)"></ion-textarea>
    </ion-item>
    <ion-item text-center>
      <button ion-button class="cmd big" (click)="clicked('0')">0</button>
      <button ion-button class="cmd big" (click)="clicked('1')">1</button>
      <button ion-button class="cmd big" (click)="clicked('/')">/</button>
      <button ion-button class="cmd big" color="dark" (click)="back()"><ion-icon name="backspace"></ion-icon></button>
      <button ion-button class="cmd big" color="dark" (click)="reset()"><ion-icon name="close"></ion-icon></button>
    </ion-item>
  </ion-list>

   <ion-list *ngIf="items && items.length">
    <ion-list-header>Translation</ion-list-header>
    <button ion-item *ngFor="let item of items" (click)="save(item)">
      {{ item }}
    </button>
  </ion-list>

   <ion-list *ngIf="saved && saved.length">
    <ion-list-header>Saved items</ion-list-header>
    <button ion-item *ngFor="let item of saved">
      {{ item }}
    </button>
    <button ion-item (click)="clear()">
      <ion-icon name="trash"></ion-icon>
      Clear
    </button>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar text-right>
    <ion-buttons>
      <button ion-button class="cmd" (click)="clicked('0')">0</button>
      <button ion-button class="cmd" (click)="clicked('1')">1</button>
      <button ion-button class="cmd" (click)="clicked('/')">/</button>
      <button ion-button class="cmd" color="dark" (click)="back()"><ion-icon name="backspace"></ion-icon></button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
