page-binary {
	.console {
		font-family: courier !important;
	}
	.cmd {
		font-weight: bold;
		font-size: 24px !important;
		height: 30px !important;
		padding: 0 20px !important;
		font-family: courier !important;

		&.big {
			font-size: 28px !important;
			height: 60px !important;
			padding: 0 18px !important;
		}
	}
	body.keyboard-open.platform-ios .bar-footer {
		bottom: 36px;
	}
}
