
page-brail {
	table {
		margin: .1em auto;

		tr td {

			button {
				background-color: #E6E6E6 !important;
				padding: 2em 2em 2em 2em !important;
				width: 1px !important;
				height: 1px !important;

				&.on {
					background-color: #232426 !important;
				}

				&.activated {
					background-color: #D8D8D8 !important;
				}
			}

			.console {
				margin: .5em auto;
			    font-size: 22pt;
			    font-family: courier;
			    width: 80px;
			}
		}

		.current {
			padding: .3em;
			font-size: 34pt;
		}

		.action {
			font-size: 34pt;
    		margin: .2em;
		}
	}
}
