<ion-header>
  <ion-navbar>
    <ion-title>
      Brail
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<table>
		<tr>
			<td><button ion-button round (click)="clicked(0,0)" [ngClass]="brail[0][0] ? 'on' : 'off'"></button></td>
			<td><button ion-button round (click)="clicked(0,1)" [ngClass]="brail[0][1] ? 'on' : 'off'"></button></td>

			<td rowspan="3" class="current" text-center>
				<div class="console" text-center>{{currentA}} {{currentB}}</div>
				<ion-icon class="action" name="add-circle" (click)="add()"></ion-icon>
				<ion-icon class="action" name="trash" (click)="clear()"></ion-icon>
			</td>
		</tr>
		<tr>
			<td><button ion-button round (click)="clicked(1,0)" [ngClass]="brail[1][0] ? 'on' : 'off'"></button></td>
			<td><button ion-button round (click)="clicked(1,1)" [ngClass]="brail[1][1] ? 'on' : 'off'"></button></td>
		</tr>
		<tr>
			<td><button ion-button round (click)="clicked(2,0)" [ngClass]="brail[2][0] ? 'on' : 'off'"></button></td>
			<td><button ion-button round (click)="clicked(2,1)" [ngClass]="brail[2][1] ? 'on' : 'off'"></button></td>
		</tr>
	</table>

   <ion-list *ngIf="items && items.length">
    <ion-list-header>Translation</ion-list-header>
    <button ion-item *ngFor="let item of items" (click)="save(item)">
      {{ item }}
    </button>
  </ion-list>

  <ion-list *ngIf="saved && saved.length">
    <ion-list-header>Saved items</ion-list-header>
    <button ion-item *ngFor="let item of saved">
      {{ item }}
    </button>
    <button ion-item (click)="clearSaved()">
      <ion-icon name="trash"></ion-icon>
      Clear
    </button>
  </ion-list>
</ion-content>
